[package]
name = "mpc-circuits"
version = "0.1.0"
edition = "2021"

[dependencies]
zk-mpc = { git = "https://github.com/Yoii-Inc/zk-mpc.git" }
mpc-algebra = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "mpc-algebra", version = "0.1.0" }
ark-ff = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-ff", version = "0.3.0" }
ark-relations = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-relations", version = "0.3.0" }
ark-bls12-377 = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-bls12-377", version = "0.3.0", features = ["r1cs", "curve"] }
ark-serialize = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-serialize", version = "0.3.0", default-features = false }
ark-r1cs-std = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-r1cs-std", version = "0.3.0" }
ark-std = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-std", version = "0.3.0", features = ["std", "print-trace"] }
ark-crypto-primitives = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-crypto-primitives", version = "0.3.0" }
ark-ec = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-ec", version = "0.3.0" }

nalgebra = { version = "0.33.0", features = ["serde-serialize"] }

mpc-algebra-wasm = { path = "../mpc-algebra-wasm" }
crypto_box = { version = "0.9.1", features = ["std"] }

serde = { version = "1.0", features = ["derive"] }
anyhow = "1.0"

serde_json = "1.0"