[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = {version  = "0.7", features=["ws"]}
tokio = { version = "1", features = ["full"] }
tower-http = {version="0.6.1", features=["cors", "trace"]}
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
once_cell = "1"
log = "0.4"
env_logger = "0.10"
tower = "0.5"
tracing = "0.1"
tracing-subscriber = "0.3"
tokio-tungstenite = "0.19"
futures = "0.3"
uuid = { version = "1.3", features = ["v4"] }
reqwest = { version = "0.11", features = ["json"] }
dotenvy = "0.15"
jsonwebtoken = "10.0"
bcrypt = "0.15"
thiserror = "1.0"
chrono = { version = "0.4", features = ["serde"] }
zk-mpc-node = { path = "../zk-mpc-node" }
rand = "0.8.5"
zk-mpc = { git = "https://github.com/Yoii-Inc/zk-mpc.git" }
ark-marlin = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-marlin", version = "0.3.0", default-features = false, features = [ "std" ] }
ark-ff = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-ff", version = "0.3.0" }
mpc-algebra = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "mpc-algebra", version = "0.1.0" }
ark-bls12-377 = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-bls12-377", version = "0.3.0", features = ["r1cs", "curve"] }
ark-crypto-primitives = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-crypto-primitives", version = "0.3.0" }
ark-std = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-std", version = "0.3.0", features = ["std", "print-trace"] }
ark-serialize = { git = "https://github.com/Yoii-Inc/zk-mpc.git", package = "ark-serialize", version = "0.3.0", default-features = false }

mpc-circuits = { path = "../mpc-circuits" }
mpc-algebra-wasm = { path = "../mpc-algebra-wasm" }
derivative = "2.2.0"
anyhow = "1.0.98"

[dev-dependencies]
tokio-tungstenite = "0.19"
hyper = { version = "1.0" }
tower = { version = "0.5", features = ["util"] }
http-body-util = "0.1"
wiremock = "0.5"

base64 = "0.13"
crypto_box = { version = "0.9.1", features = ["std"] }