name: Rust Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - "packages/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Run server tests
        working-directory: ./packages/server
        run: cargo test --lib --verbose

      - name: Run zk-mpc-node tests
        working-directory: ./packages/zk-mpc-node
        run: cargo test --lib --verbose -- --test-threads=1

  integration_tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}

      # MPC Node TCP address (for MPC Nodes)
      ZK_MPC_NODE_0_TCP: localhost:8000
      ZK_MPC_NODE_1_TCP: localhost:8001
      ZK_MPC_NODE_2_TCP: localhost:8002

      MPC_HTTP_PORT: 9000

      # MPC Node HTTP API (for Backend)
      ZK_MPC_NODE_0_HTTP: http://localhost:9000
      ZK_MPC_NODE_1_HTTP: http://localhost:9001
      ZK_MPC_NODE_2_HTTP: http://localhost:9002

      SERVER_URL: http://localhost:8080
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Run integration tests
        run: bash ./integration_test.zsh
