name: Rust Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - "packages/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Run server tests
        working-directory: ./packages/server
        run: cargo test --lib --verbose

      - name: Run zk-mpc-node tests
        working-directory: ./packages/zk-mpc-node
        run: cargo test --lib --verbose -- --test-threads=1

  integration_tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
      ZK_MPC_NODE_1: http://localhost:9000
      ZK_MPC_NODE_2: http://localhost:9001
      ZK_MPC_NODE_3: http://localhost:9002
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Run integration tests
        run: bash ./integration_test.zsh
